# Build outputs
bin/
obj/
publish/
out/

# Visual Studio / VS Code
.vs/
.vscode/
*.user
*.suo
*.userprefs

# Rider
.idea/
*.sln.iml

# NuGet
*.nupkg
packages/

# Test results
TestResults/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.temp
tools/ffmpeg/
tools/libreoffice/
